<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaji.mapper.PestMapper">
    <select id="list" resultType="com.zhaji.pojo.Pest">
        select area.province, area.city, field.name, pest_record.number, environment_record.value temperature, pest_record.update_time date
        from area, field, pest_record, environment_record
        <where>
            field.area_id = area.id
            and pest_record.field_id = field.id
            and pest_record.field_id = environment_record.field_id
            and pest_record.update_time = environment_record.update_time
            and environment_record.category = '温度'
            <if test="name != null and name != ''">
                and field.name like concat('%', #{name}, '%')
            </if>
            <if test="date != null and date != ''">
                and pest_record.update_time = #{date}
            </if>
        </where>
        order by pest_record.update_time
    </select>
</mapper>